---
layout: default
---
<div class="half-post post">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
	</header>

	<article class="post-content">
		{{ content }}

		{% for app in page.apps %}
			{% capture mainDirection %}{% cycle 'push', 'pull' %}{% endcapture %}
			{% if mainDirection == 'push' %}
				{% assign secondaryDirection = 'pull' %}
			{% else %}
				{% assign secondaryDirection = 'push' %}
			{% endif %}			

			{% include half.html direction=mainDirection secondaryDirection=secondaryDirection %}

			{% for desc in app.description %}
				{{ desc | markdownify }}
			{% endfor %}

			{% include endhalf.html %}

			{% include half.html direction=secondaryDirection secondaryDirection=mainDirection %}

			<p>{{ app.name }}</p>

			{% include endhalf.html %}

			<hr />
		{% endfor %}


		{{ page.footer | markdownify }}

		{{ page.footnote | markdownify }}
	</article>
</div>